/* General Styles */
.education {
    padding: 20px;
  }
  
  .father {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  
  .subtitle {
    text-align: center;
    margin: 20px 0;
    margin-top: -5px;
margin-left: 20px;
  }
  
  .boldText {
    font-weight: bold;
  }


  .cardIcon {
    font-size: 98px;
    color: #b72727;
    margin-bottom: 15px;
  }
  .transparentCard {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  
  .cardImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .cardTitle {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  
  .cardText {
    font-size: 1.1em;
    color: #2c2626;
  }
  
  .arrow {
    width: 50px;
    height: auto;
    margin: 20px 0;
  }
  
  .greyBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    
  }
  
  .leftBlock {
    text-align: center;
    width: 550px;
    background-color: #ffffff;
    gap: 190px; /* Ajusta el espacio entre los TwoCardBlock */
margin-top: -190px;
margin-right: -20px  }
  
  .leftBlock h2 {
    margin-left: -75px;
    width: 700px;
    gap: 190px; /* Ajusta el espacio entre los TwoCardBlock */

    margin-bottom: 20px;

  }
  .fotoPerfill {
    width: 250px;
    height: 100px;
    object-fit: cover;
  }
  
  .fotoPerfil {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 15%;
    margin-left: -5px;
  }
  
  .rightBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px; /* Ajusta e espacio entre las tarjetas */
    width: 700px;
    height: 400px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    gap: 0px; /* Ajusta el espacio entre los TwoCardBlock */
    margin: 100px; /* Elimina margen adicional si es necesario */
    margin-top: -40px;
margin-left: -5px  

  }
    .twoCardBlock {
        
        display: flex; /* Asegura que las tarjetas se alineen horizontalmente */
        width: 100%; /* Asegura que el contenedor tome todo el ancho disponible */
        height: 160px;
        background-color: rgb(255, 255, 255);
        gap: 10px; /* Ajusta el espacio entre las tarjetas */
        margin-top: -238px;
      }
  
      .cardContent {
        margin-bottom: -15px;
            text-align: center;
    width: 250px; /* Asegúrate de que las tarjetas ocupen todo el espacio disponible */
            
          }
      .card {
    width: 87%; /* Asegúrate de que las tarjetas ocupen todo el espacio disponible */

    margin-bottom: 20px; /* Añade espacio entre las filas */
    box-sizing: border-box;
    height: 325px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
      }
  
  .moreInfoLink {
    color: rgb(163, 24, 24);
    text-decoration: none;
    font-size: 3.65vh;
    font-weight: 450;
  }
  
  .moreInfoLink:hover {
    color: darkred;
  }
  
  .arrow {
    width: 50px;
    height: auto;
    margin: 20px 0;
  }
  

  .blackBlock {
    display: flex;
    align-items: center;
    width: 1263px;
    background-color: #000;
    color: #fff;
    height:340px;
    margin-bottom: -200px;
    margin-top: 35px;
  }
  
  .blackBlock .logo {
    width: 130px;
    height: 130px;
    justify-content: center;
align-items: center;
    margin-bottom: 180px;
    margin-right:180px
  }
  
  .services{
    text-align: center;
margin-left: 247px;
margin-right: -120px;
  }
  .aboutMe{
    margin-left: 10px;

  }
  .services h3, .aboutMe h3 {
    margin-bottom: 10px;
  }
  
  .services ul, .aboutMe ul {
    list-style: none;
    padding: 0;
  }
  
  .services a, .aboutMe a {
    color: rgb(228, 120, 119);
    text-decoration: none;
    font-weight: 450;
  }
  
  .services a:hover, .aboutMe a:hover {
    text-decoration: none;
  }
  .tobi{
    margin-left: 15px; /* Añade espacio entre las filas */
    margin-bottom: -90px; /* Añade espacio entre las filas */
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }

  
  .divLogo {
    margin-bottom: -18px;
  }
  
  .logo {
    height: 120px;
    border-radius: 18px;
    display: block;
    margin: 0 auto;
  }
  
  .containerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    margin-top: -30px;
  }
  
  .conteinerAbout1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 65px;
    max-width: 750px;
    margin-left: -20px;
  }
  
  .titleLiteral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .textGradientt {
    font-size: 0.9em;
    font-weight: bold;
    background-color: #242424;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s infinite alternate;
    margin-left: 10px;
  }
  
  .nombre {
    color: #242424;
    font-size: 1.65em;
    font-weight: 450;
    margin-left: 55px;
  }
  
  .descripcion {
    margin-top: -8px;
    font-size: 1em;
    max-width: 300px;
    margin-left: 25px;
  }
  
  .tecnico {
    color: rgb(55, 53, 53);
    margin: 1px 0;
    font-weight: 450;
    font-size: 30px;
  }
  
  .linearoja {
    width: 43px;
    height: 40px;
    margin-top: -36px;
    margin-left: 19px;
  }
  
  .tecnico2 {
    color: #242424;
    font-weight: 680;
    font-size: 25px;
    margin-top: -27px;
    padding-bottom: 50px;
    margin-left: 350px;
  }
  
  .flag {
    width: 20px;
    border-radius: 2px;
  }
  
  .conteinerAbout2 {
    display: flex;
    align-items: center;
  }
  
  .conteinerAbout2 img {
    height: 250px;
    border-radius: 100px;
    margin-right: 20px;
  }
  .divLogo,
  .logo {
    height: 135px;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 270px;
    margin-top: 10px;
  }
  
  .arrow {
    height: 55px;
    width: 55px;
    margin-top: -100px;
  }
  
  /* Media Queries */
  @media screen and (max-width: 767px) {
    .about {
      padding: 100px 30px 100px;
      align-items: start;
      box-sizing: border-box;
      flex-direction: column;
    }
  
    .containerAbout {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
  
    .conteinerAbout1 {
      width: 100%;
      height: 50%;
      align-items: center;
      justify-content: center;
    }
  
    .titleLiteral {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .titleLiteral h1 {
      text-align: center;
      font-size: 50px;
    }
  
    .linearoja {
      width: 10px;
      height: 1px;
    }
  
    .conteinerDescription {
      width: 100%;
      justify-content: space-between;
    }
  
    .description {
      text-align: start;
      font-size: 17px;
      padding: 0;
      width: 100%;
      margin: 0;
    }
  
    .conteinerIcons {
      justify-content: space-between;
      margin-left: 10px;
    }
  
    .conteinerTitle {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  
    .conteinerAbout2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
    }
  
    .conteinerAbout2 img {
      height: 100%;
      width: auto;
    }
  }
  