/* General Styles */
.education {
  padding: 20px;
}

.father {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -125px;
  margin-bottom: 230px;
}

.subtitle {
  text-align: center;
  margin: 20px 0;
}

.boldText {
  font-weight: bold;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.cardd {
  width: 28%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.card {
  width: 28.5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
  .callButton {
    padding: 8px 16px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  font-size: 1.2em;
  font-weight: 600;

  }
  
  .callButton:hover {
    background-color: #186e39;
  }

  .callButtonn {
    padding: 8px 16px;
    background-color: #ce2b2b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  font-size: 1.2em;
  font-weight: 600;
width: 60%;
  }
  
  .callButtonn:hover {
    background-color: #8f2020;
  }
.cardLink {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Usa el color por defecto del texto */
  cursor: pointer; /* Cambia el cursor del mouse a pointer para indicar que es interactivo */
}
.cardLinkk {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Usa el color por defecto del texto */
  cursor: pointer; /* Cambia el cursor del mouse a pointer para indicar que es interactivo */
}

.cardImage3 {
  width: 56px;  /* Ajusta el tamaño según sea necesario */
  height: 56px; /* Ajusta el tamaño según sea necesario */
  color: #ce2b2b; /* Color de WhatsApp */
}
.cardImage2 {
  width: 60px;  /* Ajusta el tamaño según sea necesario */
  height:60px; /* Ajusta el tamaño según sea necesario */
  color:#25D366; /* Color de WhatsApp */
}


.transparentCard {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 28%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.cardImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cardContent {
  padding: 15px;
  text-align: center;
}

.cardTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cardText {
  font-size: 1em;
  color: #666;
}

.arrow {
  width: 50px;
  height: auto;
  margin: 20px 0;
}

.arrow2 {
  margin-top: 15px;
  width: 47px;
  height: 55px;
}
.greyBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ebebeb;
}
.cardIcon {
  font-size: 6rem; /* Tamaño del ícono */
  color: #b72727; /* Color del ícono */
  margin-bottom: 10px; /* Espacio debajo del ícono */
}

.leftBlock {
  flex: 1;
  text-align: center;
}

.leftBlock h2 {
  margin-bottom: 20px;
}
.fotoPerfill {
  width: 250px;
  height: 100px;
  object-fit: cover;
}

.fotoPerfil {
  width: 100px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
}

.rightBlock {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrowRight {
  width: 50px;
  height: auto;
  margin: 0 20px;
}

.twoCardBlock {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.twoCardBlock .card {
  width: 45%;
}

.transparentCardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
}

.faqContainer {
  width: 100%;
  margin: 20px 0;
}

.faqItem {
  width: 100%;
  background-color: transparent;

  border: 1px solid #b1a5a5;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.faqQuestion {
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.faqAnswer {
  padding: 15px;
  background-color: #fff;
}



.blackBlock {
  display: flex;
  align-items: center;
  width: 1263px;
  background-color: #000;
  color: #fff;
  height:340px;
  margin-bottom: -300px;
  margin-top: 35px;
}

.blackBlock .logo {
  width: 130px;
  height: 130px;
  justify-content: center;
align-items: center;
  margin-bottom: 180px;
  margin-right:180px
}

.services{
  text-align: center;
margin-left: 247px;
margin-right: -120px;
}
.aboutMe{
  text-align: center;

}
.services h3, .aboutMe h3 {
  margin-bottom: 10px;
}

.services ul, .aboutMe ul {
  list-style: none;
  padding: 0;
}

.services a, .aboutMe a {
  color: rgb(228, 120, 119);
  text-decoration: none;
  font-weight: 450;
}

.services a:hover, .aboutMe a:hover {
  text-decoration: none;
}
.tobi{
  margin-left: 15px; /* Añade espacio entre las filas */
  margin-bottom: -90px; /* Añade espacio entre las filas */
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

/* About Section Styles */
.about {
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 75px 75px;
  margin-top: 78px;
  margin-left: -20px;
}

.divLogo {
  margin-bottom: -18px;
}

.logo {
  height: 120px;
  border-radius: 18px;
  display: block;
  margin: 0 auto;
}

.containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  margin-top: -30px;
}

.conteinerAbout1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 65px;
  max-width: 850px;
  margin-left: -20px;
}

.titleLiteral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textGradientt {
  font-size: 0.9em;
  font-weight: bold;
  background-color: #242424;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite alternate;
  margin-left: 10px;
}

.nombre {
  color: #242424;
  font-size: 1.65em;
  font-weight: 450;
  margin-left: 55px;
}

.descripcion {
  margin-top: -8px;
  font-size: 1em;
  max-width: 300px;
  margin-left: 25px;
}

.tecnico {
  color: rgb(55, 53, 53);
  margin: 1px 0;
  font-weight: 450;
  font-size: 30px;
}

.linearoja {
  width: 43px;
  height: 50px;
  margin-top: -36px;
  margin-left: 19px;
}

.tecnico2 {
  color: rgb(55, 53, 53);
  font-weight: 43px;
  font-size: 25px;
  margin-top: -27px;
  padding-bottom: 50px;
}

.flag {
  width: 20px;
  border-radius: 2px;
}

.conteinerAbout2 {
  display: flex;
  align-items: center;
}

.conteinerAbout2 img {
  height: 350px;
  border-radius: 50px;
  margin-right: 20px;
}

/* Dark Mode Styles */
body.dark-mode .about {
  background-color: rgb(254, 254, 255);
}

body.dark-mode .tecnico {
  color: rgb(243, 245, 246);
}

body.dark-mode .resume {
  color: rgb(252, 254, 253);
}

body.dark-mode .about {
  background-color: rgb(27, 31, 42);
}

body.dark-mode .tecnico {
  color: rgb(243, 245, 246);
}

body.dark-mode .resume {
  color: rgb(253, 255, 254);
}

body.dark-mode .textGradientt {
  font-size: 3em;
  font-weight: bold;
  background-color: #fff4f4;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite alternate;
}

.divLogo,
.logo {
  height: 135px;
  border-radius: 18px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 270px;
  margin-top: 10px;
}

.arrow {
  height: 55px;
  width: 55px;
  margin-top: 10px;

}
.socialLink{
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Usa el color por defecto del texto */
  cursor: pointer; 
}
/* Media Queries */
@media screen and (max-width: 767px) {
  .about {
    padding: 100px 30px 100px;
    align-items: start;
    box-sizing: border-box;
    flex-direction: column;
  }

  .containerAbout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .conteinerAbout1 {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }

  .titleLiteral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .titleLiteral h1 {
    text-align: center;
    font-size: 50px;
  }

  .linearoja {
    width: 10px;
    height: 1px;
  }

  .conteinerDescription {
    width: 100%;
    justify-content: space-between;
  }

  .description {
    text-align: start;
    font-size: 17px;
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .conteinerIcons {
    justify-content: space-between;
    margin-left: 10px;
  }

  .conteinerTitle {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .conteinerAbout2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .conteinerAbout2 img {
    height: 100%;
    width: auto;
  }
}
